<div class="container">
  <h1><b>Login</b></h1>
  <p>
    <label for="inputusername"><b>Username</b></label>
    <input #inputusername type="text" class="text" placeholder="Enter Username" required>
  </p>
  <p>
    <label for="inputpassword"><b>Password</b></label>
    <input #inputpassword type="password" class="text" placeholder="Enter Password" required>
  </p>
  <p>
    <button type="submit" class="btn" (click)="login(inputusername.value, inputpassword.value)">Login</button>
  </p>
  <button type="submit" class="btn" (click)="forgotPassword()">I Forgot My Password</button>
</div>
